.form_container{
    padding: 32px 72px;
    width: 100%;
    margin: 40px auto;
    box-shadow: 1px 1px 20px #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_inputWrapper{
    display: block;
}

.form_input{
    padding: 10px 12px;
    border-radius: 10px;
    border: 0px solid #efefef;
    background: #efefef;
    color: #333;
    width: 65%;
    box-sizing: border-box;
}

.form_input:focus{
    outline: auto;
    outline-color: #45d967;
}

.form_input:invalid{
    outline-color: #e60000;
}