.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px;
    border-top: 1px solid #ccc;
    user-select: none;
    gap: 48px;
    background-color: #fff;
    border-radius: 10px;
}

.selected{
    opacity: 0.3;
}

.title_done{
    color: #999;
    text-decoration: line-through;
}

.container:nth-child(1){
    margin-top: 0;
    border-top: none;
}

.title{
    text-align: start;
    font-size: 16px;
    font-weight: normal;
    user-select: text;
    max-width: fit-content;
    min-height: 35px;
    display: flex;
    align-items: center;
}

.actionField{
    display: flex;
    align-items: baseline;
    gap: 12px;
}