.main{
    border-radius: 10px;
    
    font-weight: bolder;
    padding: 8px 24px;
    text-align: center;
    display: block;
    width: max-content;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
    font-size: 14px;
    text-transform: uppercase;
}

.main_default{
    border: 1px solid #333;
    color: #333;
    background: linear-gradient(#333 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0%;
}

.main_default:hover, .main_default:focus{
    background: linear-gradient(#333 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    outline-color: #45d967;
    color: #eee;
}

.main_green{
    border: 1px solid #00a00e;
    color: #00a00e;
    background: linear-gradient(#00a00e 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0%;
}

.main_green:hover, .main_green:focus{
    background: linear-gradient(#00a00e 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    outline-color: #45d967;
    color: #fff;
}

.main_red{
    border: 1px solid #b40000;
    color: #b40000;
    background: linear-gradient(#b40000 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 0%;
}

.main_red:hover, .main_red:focus{
    background: linear-gradient(#b40000 100%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    outline-color: #45d967;
    color: #fff;
}

.second{
    color: #999;
    text-align: baseline;
    display: block;
    width: max-content;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}

.second:hover{
    color: #000;
}

.second::after{
    content: " ";
    margin-top: 5px;
    width: 0%;
    display: block;
    height: 2px;
    background-color: #333;
    transition: 0.5s;
}

.second:hover::after{
    width: 100%;
}
